/*Checkout and checkout-succes pages*/

  .checkout {
    background-image: url(../../assets/images/checkout_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--color-tertiary);
    padding-bottom: 20px;
  }
  
  .checkout h1 {
    max-width: 1000px;
    font-size: var(--large);
    color: white;
    text-align: center;
    margin: 0px auto 30px auto;
    padding-top: 30px;
  }
  
  .checkout_content {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    max-width: 1000px;
    top: 50px;
    min-height: fit-content;
    padding: 20px;
  }


  .checkout-image {
    height: 80px;
    width: 70px;
    object-fit: cover;
    margin-right: 20px;
  }

  .checkout-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
    border-bottom: 1px solid var(--color-tertiary);
  }

  .checkout-item h3 {
    margin: 0px;
    flex: 1;
    font-size: 13px;
  
  }  

  .checkout-item p {
    margin: 0px;
    flex: 1;
    font-size: 11px;
    text-align: right;
    padding-right: 7px;
  }

  .remove-checkout-item {
    color: var(--color-tertiary);
    font-size: 25px;
  }

  #checkout-total {
    text-align: right;
    font-weight: 500;
    font-size: var(--small_medium);
    margin-top: 10px;
  }

.checkout_form {
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 30px;
  margin: 0 auto 100px auto;
}

.checkout_form h2 {
  text-align: center;
  margin-bottom: 30px;
}

.checkout_form h3 {
  margin-top: 20px;
  font-size: var(--small_medium);
}

.checkout-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
}

.checkout-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid var(--color-tertiary);
  font-size: var(--small);
}

.cta-button {
  width: 100%;
  background-color: var(--color-tertiary);
  color: white;
  font-size: var(--small_medium);
  padding: 15px;
  border: none;
  border-radius: 8px;
  margin: 0px auto 30px auto;
  padding-top: 20px;
}

/*Checkout success page*/

.checkout-success {
  background-image: url(../../assets/images/mountaintop.jpg);
  min-height: 400px;
  padding: 20px;
}

.checkout-success_content {
  background-color: white;
  text-align: center;
  padding-bottom: 35px;
  border-radius: 10px;
}

.checkout-success_content i {
  font-size: 75px;
  margin-top: 15px;
}

.checkout-success_content h1 {
  color: var(--color-tertiary);
  font-size: 20px;
}

.checkout-success_content h2 {
  color: var(--color-tertiary);
  font-size: 15px;
  font-weight: 300;
  margin: 0px 30px 55px 30px;
}

.checkout-success_content a {
  text-decoration: none;
  padding: 14px 60px;
}

