/*Checkout and checkout-succes pages*/

  .checkout {
    background-image: url(../../assets/images/checkout_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--color-tertiary);
    position: relative;
    height: fit-content;
  }
  
  .checkout h1 {
    max-width: 1000px;
    font-size: var(--large);
    color: white;
    margin: 0 20px;
    position: relative;
    top: 30px;
  }
  
  .checkout_content {
    position: relative;
    background-color: white;
    margin: auto;
    margin-bottom: 100px;
    max-width: 1000px;
    display: grid;
    top: 50px;
    grid-template-columns: 2fr 3fr 1fr;
    min-height: fit-content;
  }


  .checkout-image {
    height: 60px;;
  }

  .checkout.item {
    border-bottom: solid 1px var(--color-tertiary);
    margin-bottom: 10px;
    padding-bottom: 10px;
  }