/*Checkout and checkout-succes pages*/

  .checkout {
    background-image: url(../../assets/images/checkout_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--color-tertiary);
    position: relative;
    height: fit-content;
  }
  
  .checkout h1 {
    max-width: 1000px;
    font-size: var(--large);
    color: white;
    margin: 0 20px;
    position: relative;
    top: 30px;
  }
  
  .checkout_content {
    position: relative;
    background-color: white;
    margin: auto;
    margin-bottom: 100px;
    max-width: 1000px;
    display: grid;
    top: 50px;
    grid-template-columns: 2fr 3fr 1fr;
    min-height: fit-content;
  }
  
  .content_1 img {
    height: 100px;
    margin: 40px 20px;
  }
  
  .content_2 div {
    margin: 20px 0px;
  }
  
  .content_2 h2 {
    font-size: var(--small_medium);
  }
  
  .content_2 h3 {
    font-weight: 300;
    font-style: italic;
    font-size: var(--small);
    margin: -10px 0px;
  }
  
  .content_2 p {
    font-size: var(--small);
    margin: 5px;
  }
  
  .content_3 {
    position: relative;
  }
  
  .content_3 i {
    font-size: var(--medium_large);
    flex: 1;
    float: right;
    margin: 20px;
  }
  
  .content_3 p {
    font-size: var(--medium);
    font-weight: 700;
    margin: 110px 0px 0px;
  }
  
  .content_4 {
    grid-column: -1/1;
    margin: 0px 20px;
    display: flex;
    border-top: solid;
    border-bottom: solid;
    border-color: var(--color-primary);
  }
  
  .content_4 p {
    text-decoration: underline;
    font-size: var(--small);
  }
  
  .content_4 i {
    font-size: 10px;
    margin: 10px 5px;
  }
  
  .content_5 {
    grid-column: -1/1;
    display: flex;
  }
  
  .content_5_total {
    margin: 10px 20px;
    flex: 1;
    font-size: var(--small_medium);
  }
  
  .content_5_price {
    margin: 10px 20px;
    flex: 1;
    text-align: end;
    font-size: var(--small_medium);
    font-weight: 700;
  }
  
  .checkout_content h2 {
    color: var(--color-tertiary);
    font-size: var(--medium);
  }
  
  .checkout_form {
    position: relative;
    background-color: white;
    margin: auto;
    margin-top: 180px;
    max-width: 1000px;
    display: flex;
    bottom: 80px;
    flex-direction: column;
    min-height: fit-content;
  }
  
  .checkout_form h2 {
    color: var(--color-tertiary);
    max-width: 1000px;
    margin: 20px auto 0px;
    font-size: var(--medium_large);
  }
  
  .form_1 {
    max-width: 1000px;
    width: 300px;
    margin: 0px auto 20px;
    display: flex;
    text-align: left;
    flex-direction: column;
  }
  
  .form_1 h3 {
    font-size: var(--medium);
  }
  
  .form_2 {
    max-width: 1000px;
    width: 300px;
    margin: 20px auto;
    display: flex;
    text-align: left;
    flex-direction: column;
  }
  
  .form_2 a {
    margin: 10px 10px 50px;
    font-size: var(--medium);
  }
  
  .checkout_form input, 
  .checkout_form textarea {
    margin: 15px 0px;
    padding: 10px;
    font-size: var(--small);
  }
  
  .checkout_form label {
    margin: 0px 0px -10px;
    color: black;
    font-size: var(--small);
  } 
  
/*Checkout success page*/
  .checkout-success {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/mountaintop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--color-tertiary);
    min-height: 450px;
    position: relative;
  }
  
  .checkout-success_content {
    position: relative;
    max-width: 1000px;
    margin: auto;
    top: 50px;
    color: var(--color-tertiary);
    padding: 40px;
    text-align: center;
    background-color: white;  
  }
  
  .checkout-success_content h1 {
    position: relative;
    max-width: 1000px;
    margin: 10px auto;
    text-align: center;
    font-weight: 300;
    font-size: 23px;
  }
  
  .checkout-success_content h2 {
    position: relative;
    max-width: 1000px;
    margin: 10px auto 20px auto;
    text-align: center;
    font-weight: 300;
    font-size: var(--medium);
    color: var(--color-tertiary);
  }
  
  .checkout-success_content i {
    font-size: 50px;
  }
  
  .checkout-success_content a {
    font-size: var(--medium_large);
    text-decoration: none;
  }
  
  