/*List of products - page*/

#dropdown-size, #dropdown-gender {
  border-radius: 10px;
  color: var(--color-tertiary);
  background-color: var(--color-secondary);
  padding: 7px 20px;
  font-size: var(--medium);
  border: none;
  margin: 5px;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  padding: 5px;
}

.product-item {
  background-color: var(--color-background);
  box-shadow: 1px 1px 6px 2px rgb(0 55 66 / 20%);
  text-align: left;
  border-radius: 10px;
  padding: 10px;
}

.product-item:hover {
  transform: scale(1.00);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0);
}

.product-item img {
  width: 200px;
  height: 250px;
  max-height: 240px;
  margin: auto;
  display: block;
  object-fit: cover;
}

.product-item h3 {
  font-size: var(--medium);
  margin: 10px;
  height: 40px;
}

.product-item p {
  font-size: var(--small_medium);
  margin: 10px;
}

.product-item a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.product-item button {
  border: none; 
  color: white;
  background-color: var(--color-tertiary);
  font-weight: 100;
  font-size: var(--medium);
  padding: 7px 20px;
  margin: auto;
  display: block;
  border-radius: 10px;
}


/*Shoppingcart*/

.shoppingcart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: var(--color-tertiary);
  padding: 20px;
  z-index: 100;
  overflow: auto;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  transition: 0.5s;
}

.shoppingcart.active {
  right: 0;
}

.shoppingcart-title {
  font-size: var(--large);
  text-align: center;
  color: white;
}

.cart-total {
  display: flex;
  align-items: center;
  border-top: 1px solid white;
  font-size: var(--medium);
  justify-content: flex-end;
  color: white;
  margin-top: 20px;

}


.total-price {
  margin-left: 10px;
  font-weight: 500;
}

.buy-button {
  display: block;
  padding: 10px 40px;
  border: none;
  color: var(--color-tertiary);
  background-color: var(--color-secondary);
  font-size: var(--medium);
  border-radius: 10px;
  margin: 20px auto 0;

}

#shoppingcart-close {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 30px;
  color: var(--color-secondary);
}

.shoppingcart-box {
  margin: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.shoppingcart-box img{
  height: 100%;
  width: auto;
  max-height: 200px;
  margin: auto;
  display: block;
}

.shoppingcart-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px;
}

.shoppingcart-detail h3 {
  grid-column: 1 / span 2;
}


.shoppingcart-quantity {
  display: flex;
  grid-column: 2;
  grid-row: 2;
}

.minus, .plus {
  padding: 0px 10px;
  margin: 11px 7px;
  border: none;
  background-color: var(--color-primary);
  border-radius: 25px;
}

.shoppingcart-trash {
  right: -252px;
  position: relative;
  font-size: 29px;
}

.cart-count {
  position: absolute;
  top: 17px;
  right: -10px;
  background: var(--color-primary);
  color: var(--color-tertiary);
  border-radius: 20px;
  font-size: 10px;
  padding: 2px 6px;
}

