
/* Jacket specific page*/
.product_specific {
    display: flex;
    max-width: 1000px;
    margin: auto;
    flex-direction: column;
  }
  
  .product_specific > * {
    flex: 1;
  }
  
  .product_specific_image {
    margin: 20px;
  }
  
  .product_specific_details {
    padding: 20px 30px;
    background-color: white;
    margin: 0px 20px 30px;
  }
  
  .product_specific_details h1 {
    font-weight: 700;
    font-size: var(--larger);
    margin-bottom: 5px;
  }
  
  .product_specific_details h2 {
    font-weight: 300;
    font-style: italic;
    color: var(--color-tertiary);
    font-size: var(--medium_large);
  }
  
  .product_specific_details div {
    font-weight: 300;
    color: var(--color-tertiary);
    font-size: var(--medium_large);
  }
  
  .product_specific_details i {
    font-size: var(--medium_large);
    margin: 3px;
  }
  
  .product_specific_details a {
    text-decoration: none;
  }


  .product_specific_details_color p {
    margin: 0px;
  }
  
  .product_specific_details_color i {
    font-size: 40px;
  }
  
  .product_specific_details_text {
    margin: auto;
    height: 5vh;
    display: flex;
    align-items: center;
  }
  
  .product_specific_details_text i {
    margin: 0px 10px 0px 0px;
  }
  
  .product_specific_details_price {
    font-weight: 700;
    font-size: var(--larger);
  }
  
  .colorindicator_red {
    color: rgba(230, 0, 0, 1);
  }
  
  .colorindicator_blue {
    color: rgba(10, 66, 77, 1);
  }
  
  .colorindicator_black {
    color: black;
  }

  .colorindicator_grey {
    color: rgba(163, 155, 155, 1);
  }
  
  .choose_size {
    position: relative;
  }
  
  .choose_size_content a {
    color: var(--color-tertiary);
    text-decoration: none;
    display: block;
    margin: 10px;
    position: relative;
    text-align: center;
  }
  
  .choose_size_content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 3px var(--color-tertiary);
    border-radius: 5px;
    width: 100%;
  }
  
  .choose_size:hover .choose_size_content{
    display: block;
  }
  
  .choose_size_content a:hover {
    text-decoration: underline;
  }
  
  .product_image {
    width: 100%;
  }
  
  .product_thumbnails {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
  }
  
  .cta-button_size {
    display: block;
    margin: 60px auto auto auto;
    color: var(--color-tertiary);
    background-color: transparent;
    font-size: var(--large);
    text-decoration: none;
    padding: 8px;
    width: 100%;
    border: 2px solid var(--color-tertiary);
    border-radius: 8px;
  }
  
  .cta-button_cart {
    display: block;
    margin: 5px auto;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    font-size: var(--large);
    text-decoration: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
  }
  
  .cta-button_cart:hover {
    background-color: var(--color-tertiary);
    color: white;
  }

  