/* Styles.css used for styles that is reusable*/



/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

/*
.roboto-light {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", system-ui;
  font-weight: 700;
  font-style: normal;
} */



body {
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-tertiary);
  background-color: var(--color-secondary-background);
  margin: 0px;
}

header {
  background-color: white;
  border-bottom: solid var(--color-tertiary);
  border-width: 5px;
}

.header_section {
  display: flex;
  max-width: 1000px;
  height: 70px;
  margin: auto;
  align-items: baseline;

}



.header_section a {
  color: var(--color-tertiary);
  margin: 10px;
}

.home_button {
  height: auto;
  width: 80px;
  margin-left: 50px;
  
}

.hamburger-icon {
  position: relative;
  color: black;
  font-size: 30px;
  top: -55px;
  right: -20px;
}

.searchbar {
  width: auto;
  align-items: center;
  display: flex;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--color-forms);
  color: black;
  margin: 0px 20px;
}

.searchbar_input {
  font-size: 14px;
  color: black;
  margin-left: 5px;
  width: 200px;
}


.menu_item_searchbar {
  position: absolute;
  top: 55px;
  width: 100%;

}

.menu_item_person {
  position: absolute;
  right: 75px;
  font-size: 25px;
  margin: 10px -10px
}

.menu_item_shoppingbag {
  position: absolute;
  right: 40px;
  font-size: 25px;
  color: var(--color-tertiary);
  margin: 10px -20px;
}

.navbar {
  display: none;
  width: 100%;
  
}

#menu-hamburger {
  display: none;
  
}

#menu-hamburger:checked ~ .navbar {
  display: block;
}

nav {
  background-color: var(--color-tertiary);
  display: flex;
  align-items: center;
  font-weight: 300px;
  justify-content: baseline;

}

nav li {
  background-color: none;
  border-radius: none;
  flex: 1;
  text-align: left;
  display: inline-block;
  width: 580px;
  border-bottom: solid;
  border-color: #ffffff2b;
  list-style-type: none;
  margin: 0px 10px;
  padding: 5px;
}




nav ul {
  padding-inline-start: 0px;
}

nav a {
  text-decoration: none;
  color: white;
}



.active_links {
  text-decoration: underline;
}

.footer_content a:hover {
  text-decoration: underline;
}

nav li:hover {
  background-color: var(--color-tertiary);
}

.active, 
.active a {
  background-color: var(--color-tertiary);
  color: white;
}

nav a:hover {
  background-color: var(--color-tertiary);
  color: white;
}


main {
  background-color: var(--color-secondary-background);
}


.cta-button {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  font-size: 1.5em;
  text-decoration: none;
  padding: 5px 60px;
  border-radius: 5px;
  text-align: center;
}



footer {
  background-color: var(--color-tertiary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 50px 0px;
}

.footer_content {
  flex: 1;
  margin: 0px 20px;
}

footer h3, 
footer a {
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  color: white;
  border-bottom: solid;
  margin-bottom: 5px;
}


input::placeholder {
  color: black;
  opacity: 0.8;
  font-weight: 200;
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
}

/*Home page*/
.home-image {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/headerimg.jpg);
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
  color: var(--color-background);
  position: relative;
}

.home-image_text {
  position: relative;
  top: 180px;
  text-align: center;

}

.home-image h1 {
  font-size: 25px;
  margin: 0;
}

.home-image h2 {
  font-size: 20px;
  margin: 0px 0px 25px 0px;
  color: white;
}


.home-image_text a:hover {
  background-color: var(--color-tertiary);
  color: white;
}

.home-image a {
  color: var(--color-tertiary);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.85);
  font-weight: 300;
  font-size: 15px;
  padding: 5px 40px;
  border-radius: 6px;
}


.slogan {
  background-color: var(--color-primary);
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  display: flex;
}

.slogan img {
  height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}


.logo {
  max-width: 1000px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.logo_images {
  flex: 1;
  list-style: none;
  display: inline-block;
  text-align: center;

}

.logo_images img {
  height: 50px;
  margin: 5px 10px;

}


/*Inspiration section*/

.inspiration {
  height: 70vh;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.inspiration_content {
  display: flex;
  font-size: 15px;
  flex: 1;
}

.picture_one {
  position: relative;
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/bluesweater.jpg);
  background-size: cover;
  background-position-x: center;
}

.picture_one h2 {
  position: absolute;
  font-size: 25px;
  color: white;
  bottom: 20px;
  left: 15px;
  margin: 0px 150px 0px 0px;
}


.picture_one i {
  position: absolute;
  font-size: 40px;
  color: white;
  bottom: 30px;
  right: 50px;
}

.picture_two {
  position: relative;
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/orangejacket.jpg);
  background-size: cover;
  background-position-y: center;
}

.picture_two h2 {
  position: absolute;
  font-size: 25px;
  color: white;
  bottom: 20px;
  left: 15px;
  margin: 0px 150px 0px 0px;
}


.picture_two i {
  position: absolute;
  font-size: 40px;
  color: white;
  bottom: 30px;
  right: 50px;
}

.picture_three {
  position: relative;
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/threepeople_hiking.jpg);
  background-size: cover;
}


.picture_three h2 {
  position: absolute;
  font-size: 25px;
  color: white;
  bottom: 20px;
  left: 15px;
  margin: 0px 150px 0px 0px;
}


.picture_three i {
  position: absolute;
  font-size: 40px;
  color: white;
  bottom: 30px;
  right: 50px;
}


/*List of jackets*/

.h1_jacket {
  max-width: 1000px;
  margin: 10px auto 0px;
  padding: 20px;
  font-size: 20px;
}

.jacket_text {
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  gap: 5px;
  display: flex;
  align-items: end;
}


.jacket_text h1 {
  grid-column: -1/1;
  margin: 50px 0px 10px -20px;
  padding-left: 20px;
}

.jacket_text button {
  background-color: white;
  color: var(--color-tertiary);
  padding: 5px 20px;
  border: solid 1px;
  border-color: var(--color-tertiary);
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.jacket_size .jacket_size_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 1px 1px 3px var(--color-tertiary);
  border-radius: 5px;
}

.jacket_size:hover .jacket_size_content {
  display: block;
}

.jacket_brand .jacket_brand_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 1px 1px 3px var(--color-tertiary);
  border-radius: 5px;
}

.jacket_brand:hover .jacket_brand_content {
  display: block;
}

.jacket_price .jacket_price_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 1px 1px 3px var(--color-tertiary);
  border-radius: 5px;
}

.jacket_price:hover .jacket_price_content {
  display: block;
}

.jacket_text a {
  display: block;
  color: var(--color-tertiary);
  text-decoration: none;
  padding: 5px;
}

.jacket_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 10px auto;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

.jacket_list a {
  text-decoration: none;
  color: var(--color-tertiary);
}

.jacket {
  display: grid;
  grid-template-rows: 180px 20px 20px 40px 40px;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  background-color: white;
  height: 300px;
  min-width: fit-content;
}


.jacket img {
  margin: auto;
  height: 100%;
  object-fit: cover;
  grid-column: -1 / 1;
  padding: 10px;
}

.jacket a {
  grid-column: -1/1;
  margin: auto;

}

.jacket h2 {
  grid-column: 1;
  color: var(--color-tertiary);
  font-size: 12px;
  margin-left: 5px;
}

.jacket h3 {
  font-weight: 300;
  color: var(--color-tertiary);
  margin: 0;
  font-size: 10px;
  grid-column: -1 / 1;
  margin-left: 5px;
}

.jacket p {
  font-weight: 700;
  font-size: 20px;
  grid-column: 1;
  color: var(--color-tertiary);
  margin-left: 5px;
}


.jacket i {
  grid-row: 2;
  grid-column: 2;
  font-size: 22px;
  margin: 10px;

}

.in_stock {
  grid-row: 5;
  grid-column: 1;
  position: relative;
  display: flex;
  margin-left: 5px;
}

.in_stock i {
  font-size: 10px;
  color: green;
  margin: 5px 5px 5px 0px;
  position: relative;
  align-content: center;
}

.in_stock p {
  font-size: 10px;
  color: black;
  font-weight: 300;
}



/* Jacket specific page*/
.product_specific {
  display: flex;
  max-width: 1000px;
  margin: auto;
  flex-direction: column;
}

.product_specific > * {
  flex: 1;
}

.product_specific_image {
  margin: 20px;
}

.product_specific_details {
  padding: 20px 30px;
  background-color: white;
  margin: 0px 20px 30px;
}

.product_specific_details h1 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 5px;
}


.product_specific_details h2 {
  font-weight: 300;
  font-style: italic;
  color: var(--color-tertiary);
  font-size: 20px;
}

.product_specific_details div {
  font-weight: 300;
  color: var(--color-tertiary);
  font-size: 20px;
  
}

.product_specific_details i {
  font-size: 20px;
  margin: 3px;
}

.product_specific_details_color p {
  margin: 0px;
}


.product_specific_details_color i {
  font-size: 40px;
}


.product_specific_details_text {
  margin: auto;
  height: 5vh;
  display: flex;
  align-items: center;
}

.product_specific_details_text i {
  margin: 0px 10px 0px 0px;
}

.product_specific_details_price {
  font-weight: 700;
  font-size: 30px;
}

.colorindicator_red {
  color: rgba(230, 0, 0, 1);
}

.colorindicator_blue {
  color: rgba(10, 66, 77, 1);
}

.colorindicator_black {
  color: black;
}
.colorindicator_grey {
  color: rgba(163, 155, 155, 1);
}

.product_image {
  width: 100%;
}

.product_thumbnails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;
}

.cta-button_size {
  display: block;
  margin: 60px auto auto auto;
  color: var(--color-tertiary);
  background-color: transparent;
  font-size: 25px;
  text-decoration: none;
  padding: 8px;
  width: 250px;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-tertiary);
}

.cta-button_cart {
  display: block;
  margin: 5px auto;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: none;
}




/*Check-out*/
.checkout {
  background-image: url(../../assets/images/checkout_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--color-tertiary);
  position: relative;
  height: fit-content;
}

.checkout h1 {
  max-width: 1000px;
  font-size: 25px;
  color: white;
  margin: 0 20px;
  position: relative;
  top: 30px;

}


.checkout_content {
  position: relative;
  background-color: white;
  margin: auto;
  margin-bottom: 100px;
  max-width: 1000px;
  display: grid;
  top: 50px;
  grid-template-columns: 2fr 3fr 1fr;
	min-height: fit-content;
}


.content_1 img {
  height: 100px;
  margin: 40px 20px;

}


.content_2 div {
  margin: 20px 0px;

}

.content_2 h2 {
  font-size: 15px;
}


.content_2 h3 {
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    margin: -10px 0px;
}

.content_2 p {
  font-size: 12px;
  margin: 5px;
}

.content_3 {
  position: relative;
}

.content_3 i {
  font-size: 20px;
  flex: 1;
  float: right;
  margin: 20px;
}

.content_3 p {
  font-size: 17px;
  font-weight: 700;
  margin: 110px 0px 0px;
}

.content_4 {
  grid-column: -1/1;
  margin: 0px 20px;
  display: flex;
  border-top: solid;
  border-bottom: solid;
  border-color: var(--color-primary);
}

.content_4 p {
  text-decoration: underline;
  font-size: 12px;
}

.content_4 i {
  font-size: 10px;
  margin: 10px 5px;
}


.content_5 {
  grid-column: -1/1;
  display: flex;
}

.content_5_total {
  margin: 10px 20px;
  flex: 1;
  font-size: 15px;
}

.content_5_price {
  margin: 10px 20px;
  flex: 1;
  text-align: end;
  font-size: 15px;
  font-weight: 700;
}

.checkout_content h2 {
  color: var(--color-tertiary);
  font-size: 17px;
}



.checkout_form {
  position: relative;
  background-color: white;
  margin: auto;
  margin-top: 180px;
  max-width: 1000px;
  display: flex;
  bottom: 80px;
  flex-direction: column;
  min-height: fit-content;

}

.checkout_form h2 {
  color: var(--color-tertiary);
  max-width: 1000px;
  margin: 20px auto 0px;
  font-size: 20px;
}

.form_1 {
  max-width: 1000px;
  width: 300px;
  margin: 0px auto 20px;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.form_1 h3 {
  font-size: 17px;
}

.form_2 {
  max-width: 1000px;
  width: 300px;
  margin: 20px auto;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.form_2 a {
  margin: 10px 10px 50px;
  font-size: 17px;
  
}


.checkout_form input, 
.checkout_form textarea {
  margin: 15px 0px;
  padding: 10px;
  font-size: 12px;
}

.checkout_form label {
  margin: 0px 0px -10px;
  color: black;
  font-size: 12px;
} 



/*Checkout success page*/
.checkout-success {
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/mountaintop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--color-tertiary);
  min-height: 450px;
  position: relative;

}

.checkout-success_content {
  position: relative;
  max-width: 1000px;
  margin: auto;
  top: 50px;
  color: var(--color-tertiary);
  padding: 40px;
  text-align: center;
  background-color: white;  
  
}

.checkout-success_content h1 {
  position: relative;
  max-width: 1000px;
  margin: 10px auto;
  text-align: center;
  font-weight: 300;
  font-size: 23px;
}


.checkout-success_content h2 {
  position: relative;
  max-width: 1000px;
  margin: 10px auto 20px auto;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  color: var(--color-tertiary);
}


.checkout-success_content i {
  font-size: 50px;
}

.checkout-success_content a {
  font-size: 20px;
}


/* About us page*/



.about_us_page {
  color: white;
  font-size: 17px;
  font-weight: 300;
  display: grid;
}

.small_header {
  color: white;
  position: relative;
  margin: 20px 70px 0px;
}


.about_us_text {
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70)), url(../../assets/images/fourpeople_hiking.jpg);
  height: fit-content;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  position: relative;
  margin: 5px 0px;
  
}


.about_us_text p {
  margin: 10px 70px 30px;
}

.our_story_text {
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70)), url(../../assets/images/hammock.jpg);
  height: fit-content;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  margin: 5px 0px;

}

.our_story_text p {
  margin: 10px 70px 30px;
}

.our_goal_text {
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70)), url(../../assets/images/mountaintop.jpg);
  height: fit-content;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  margin: 5px 0px;
}

.our_goal_text p {
  margin: 10px 70px 30px;
}


/*Contact us*/

.contact {
  background-color: var(--color-secondary-background);
  max-width: 1000px;
  display: flex;
  margin: 50px auto;
}

.contact img {
  height: 515px;
  max-width: 400px;
  object-fit: cover;
}


.contact_form {
  position: relative;
  background-color: white;
  margin: 30px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  width: 300px;
}

.contact_form h1 {
  text-align: left;
  margin-left: 40px;
}


.contact_form form {
  max-width: 1000px;
  width: 250px;
  display: flex;
  text-align: left;
  flex-direction: column;
  margin: auto;
}





.contact input, 
.contact textarea {
  margin: 15px 0px;
  padding: 17px 10px;
} 

.cta-button_contact {
  font-size: 20px;
}

.contact label {
  margin: 0px 0px -10px;
  color: black;
} 

.contact_icons {
  max-width: 1000px;
  display: flex;
  margin: auto;
}

.contact_icons a {
  flex: 1;
  font-size: 40px;
  color: var(--color-tertiary);
  margin: 10px;
}


/*Forms*/

input, textarea {
  border: 0px;
  border-radius: 5px;
  background-color: var(--color-forms);
}

label {
  color: grey;
  font-weight: 300;
}

form h1, h2 {
  color: black;
}


@media (max-width: 600px) {
  .logo {
    display: none;
}

footer p {
  display: none;
}

/*Contact page*/
.contact_img {
  display: none;
}

.contact {
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/contactus.jpg);
  margin: 0px;
  background-size: cover;
}


/*About us*/ 
  .about_us_page img, 
  .about_us_page h1 {
    display: none;
}


}





@media (min-width: 601px) and (max-width: 1000px) {
  nav a {
    padding: none;
  }

  nav li {
    width: 100px;
    margin: 0px 5px;
    
  }


/*Home page*/  

.inspiration {
  height: 40vh; 
}

.picture_one h2 {
  font-size: 25px;
}

.picture_two h2 {
  font-size: 25px;
}

.picture_three h2 {
  font-size: 25px;
}

/*Jackets */
.jacket_list {
  margin: 10px 70px;
}

.h1_jacket { 
  margin: 10px 70px;
}

.jacket_text {
  margin: 10px 70px;
}

/*Jacket specific*/

.product_specific_image {
  margin: 20px 70px;
}

.product_specific_details {
  margin: 0px 70px 30px;
}

.cta-button_size {
  width: 500px;
}

.cta-button_cart {
  width: 500px;
}

/*Contact page*/

  .contact_img {
    display: none;
  }
  
  .contact {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/contactus.jpg);
    margin: 0px;
    background-size: cover;
  }

  /*About us*/

  .about_us_page img, 
  .about_us_page h1 {
    display: none;
  }

  .about_us_text p {
    margin: 20px 120px;
  }
  
  .our_story_text p {
    margin: 20px 120px;
  }
  
  .our_goal_text p {
    margin: 20px 120px;
  }

  /*Checkout*/

  .checkout h1 {
    margin: 0px 20px;
  }

  .checkout_content {
    margin: 20px;
  }

  .checkout_form {
    margin: 180px 20px 0px;
  }

}



@media (min-width: 601px)  {

  header {
    border: none;
  }

  .header_section {
    align-items: center;
    height: auto;
    margin: auto auto 0px 40px;
  }


  .header_section a {
    margin: 0px;
  }

  .menu_item_person {
    margin: auto;
  }

  .menu_item_shoppingbag {
    margin: auto;
  }

  .home_button {
    height: auto;
    width: 100px;
    margin: 5px 20px;
  }

  .searchbar {
    margin-right: 0px;

  }

  .menu_item_searchbar {
    position: absolute;
    right: 110px;
    top: auto;
    width: 300px;
  }

  .menu_item_person {
    margin: auto;
  }
  
  .menu_item_shoppingbag {
    margin: auto;
  }

  .navbar {
    display: block;
    position: static;
  
  }
  
  
  .hamburger-icon {
    display: none;
  }

  nav {
    background-color: var(--color-secondary);
    font-weight: 700;
    justify-content: center;
    display: flex;
  
  }


  nav li {
    background-color: var(--color-background);
    border-radius: 5px;
    text-align: center;
    border-bottom: none;
    
    
}


nav a {
  text-decoration: none;
  color: var(--color-tertiary);
  font-weight: 700;
  border-radius: 5px;
}



footer {
  background-color: var(--color-primary);
  padding: none;
  flex-direction: row;
}

.footer_content {
  flex: 1;
  margin: 10px 10px;
}

footer a {
  font-weight: 700;
}

footer h3, 
footer p, 
footer a {
  color: var(--color-tertiary);
  border-bottom: none;
  font-weight: 700;
  
}

footer p, a {
  font-weight: 300;
}




 /*Home page*/ 
 
.home-image {
  min-height: 700px;
}

 .home-image_text {
  position: absolute;
  text-align: left;
  left: 75px;
  margin: 0px;
 }

 .home-image h1 {
  font-size: 35px;
 }


 .home-image h2 {
  font-size: 25px;
 }



 .home-image a {
  font-size: 20px;
 }

 .inspiration {
  flex-direction: row;
 }


.picture_one h2 {
  font-size: 25px;
}

 .picture_two h2 {
  font-size: 25px;
  top: 20px;
  
}

.picture_two i {
  top: 30px;
}

.picture_two h2 {
  font-size: 25px;
}

/*Jackets*/

.h1_jacket { 
  padding: 20px 0px 0px 20px
}


/*Contact page*/


.contact_form {
  margin: 0px auto;
  margin: 30px auto;
  width: 600px;
}

.contact_form form {
  width: 500px;
}



/*Checkout*/

.checkout h1 {
  font-size: 30px;
}

.checkout_content {
  grid-template-rows: 5fr 1fr 1fr;
}

.content_1 img {
    height: 300px;
    margin: 20px;
}

.content_2 h2 {
  font-size: 20px;
}

.content_2 h3 {
    font-size: 15px;
}

.content_2 p {
  font-size: 17px;
}

.content_2 div {
    margin: 60px 0px;
}

.content_3 p {
    float: right;
    margin: 300px -45px 20px 0px;
}

.content_3 i {
    font-size: 30px;

}

.content_4 p {
    font-size: 15px;
}

.content_4 i {
    font-size: 20px;
    margin: 15px 10px;
}

.content_5_total {
  margin: 20px;
  font-size: 20px;
}

.content_5_price {
    margin: 20px;
    font-size: 20px;

}


.checkout_form h2 {
  font-size: 25px;
  margin: 20px auto;
}

.form_1 {
  width: 500px;
  margin: 20px auto;
}


.form_1 h3 {
  font-size: 20px;
}

.form_2 {
    width: 500px;
}

.form_2 a {
  margin: 10px 50px 50px;
  font-size: 25px;
  font-weight: 400;
  
}

.checkout_form input, 
.checkout_form textarea {
  padding: 17px 10px;
  font-size: 16px;
} 


.checkout_form label {
  font-size: 17px;
} 



/*Checkout success*/

.checkout-success_content h1 {
  font-size: 25px;
}


.checkout-success_content h2 {
  font-size: 20px;
}


/*Jackets*/

.jacket_list {
  grid-template-columns: repeat(3,1fr);
}


.jacket img {
  height: 80%;
}

}


@media (min-width: 800px) {
  .jacket img {
    height: 100%;
  }

  .jacket h2 {
    font-size: 15px;
  }

  .jacket h3 {
    font-size: 12px;
  }
  


}


@media (min-width: 1001px) {
  nav li {
    margin: 0px 10px;
    width: 170px;
  }

  nav a {
    padding: 5px 50px;
  }

  .footer_content {
      margin: 10px 50px;
    }

    footer {
      padding: 0px 20px;
    }


/*Home page*/

.picture_one h2 {
  font-size: 30px;

}

.picture_one i {
  font-size: 50px;
  bottom: 30px;
}

.picture_two h2 {
  font-size: 30px;
  top: 20px;
  
}

.picture_two i {
  font-size: 50px;
  top: 30px;
}

.picture_three h2 {
  font-size: 30px;
 
}

.picture_three i {
  font-size: 50px;
  bottom: 30px;
}


/*Jacket page */

.jacket {
  grid-template-rows: 180px 30px 30px 40px 10px;
  padding: 0px 20px;
  height: 310px;
}

.jacket_list {
  margin: 10px auto;
}

.h1_jacket { 
  margin: 10px auto;
  padding: 20px 0px 0px 20px
}

.jacket_text {
  margin: 10px auto;
}

.jacket_text button {
  padding: 5px 40px;
}

.jacket h2 {
  font-size: 20px;
}

.jacket h3 {
  font-size: 15px;
}

/*Jacket specific*/

.product_specific {
  flex-direction: row;
  margin: 50px auto;
}

.product_specific_details {
  padding: 20px 80px;
  margin: 0px 20px;
}

.product_specific_details_text i {
  font-size: 20px;
}



.product_specific_image {
  margin: 0px;
}

.product_specific_details h1 {
  margin-bottom: auto;
}

.product_specific_details i {
  font-size: 30px;
}

  /*About us*/

  .small_header {
    display: none;
  }


  .about_us_page {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 333px 333px 333px;
    margin: 50px auto;
    gap: 0px 0px;
    color: var(--color-tertiary);
    font-size: 15px;
  }


  .about_us_text {
    background-image: none;
  }


  .about_us_page img {
    object-fit: cover;
    max-width: 100%;
  }
  
  .about_us_page p {
    margin: 0px 5px 15px;
    line-height: 20px;
  }
  
  .about_us_img h1 {
    position: relative;
    top: -332px;
    right: -410px;
    color: white;
    text-shadow: 0px 0px 15px black;
  }
  
  .about_us_text h1 {
    position: relative;
    color: var(--color-tertiary);
    margin: 21px 3px 0px;
  }
  
  .our_story_text {
    background-image: none;
  }

  .our_story_text h1 {
    position: relative;
    color: var(--color-tertiary);
    left: 443px;
    top: -6px;
    margin: 21px 3px 0px;
  }
  
  .our_story_img h1 {
    position: relative;
    color: white;
    text-shadow: 0px 0px 15px black;
    top: -337px;
    right: -5px;
  }
  
  .our_goal_text {
    background-image: none;
  }

  .our_goal_text h1 {
    position: relative;
    color: var(--color-tertiary);
    margin: 21px 3px 0px;
  }
  
  .our_goal_img h1 {
    position: relative;
    color: white;
    text-shadow: 0px 0px 15px black;
    top: -332px;
    right: -446px;
  }
  
  /*Contact us */

  .contact {
    display: flex;

  }

  .contact_img {
    flex: 1;
    margin: auto;
  }

  .contact img {
    width: 450px;
    object-fit: cover;
  }

  .contact_form {
    flex: 1;
  }

  .contact_form form {
    width: 400px;
  }

/*Checkout*/

.checkout h1 {
  margin: 0 auto;
}

.checkout_content {
  margin: 0px auto;
}

.form_1 {
  width: 600px;
}

.form_2 {
    width: 600px;
}


/*Checkout success*/

.checkout-success_content {
  padding: 50px;
  border-radius: 10px;  
   
 }
 
 .checkout-success_content h1 {
   width: 450px;
 }
 
 
 .checkout-success_content h2 {
  width: 450px;
  font-size: 25px;
 }
 
 .checkout-success_content i {
  font-size: 60px;
 }
 

}
  

/*
Media query 

0 - 400 px - iphone 
401 - 600 - big phone
601 - 1000px - ipad
851 - 1920 - pc
*/