/* Styles.css used for styles that is reusable*/



/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

/*
.roboto-light {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", system-ui;
  font-weight: 700;
  font-style: normal;
} */



body {
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-tertiary);
  background-color: var(--color-secondary-background);
  margin: 0px;
}

header {
  background-color: white;
}

.header_section {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: auto auto 0px 40px;

}



.header_section a {
  color: var(--color-tertiary);
}

.home_button {
  height: auto;
  width: 100px;
  margin: 5px 20px;
}

.searchbar {
  width: max-content;
  align-items: center;
  display: flex;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--color-forms);
  color: black;
}

.searchbar_input {
  font-size: 14px;
  color: black;
  margin-left: 5px;
  width: 200px;
}

.menu_item_searchbar {
  position: absolute;
  right: 110px;
}

.menu_item_person {
  position: absolute;
  right: 75px;
  font-size: 25px;
}
.menu_item_shoppingbag {
  position: absolute;
  right: 40px;
  font-size: 25px;
  color: var(--color-tertiary);
}

.navbar {
  width: 100%;
  
}

nav {
  background-color: var(--color-secondary);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;

}


nav li {
  background-color: var(--color-background);
  border-radius: 5px;
  padding: 5px 10px;
  flex: 1;
  margin: 0px 10px;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  width: 200px;
  
}

nav ul {
  padding-inline-start: 0px;
}

nav a {
  text-decoration: none;
  color: var(--color-tertiary);
  font-weight: 700;
  padding: 5px 70px;
  border-radius: 5px;
}



.active_links {
  text-decoration: underline;
}

.footer_content a:hover {
  text-decoration: underline;
}

nav li:hover {
  background-color: var(--color-tertiary);
}

.active, 
.active a {
  background-color: var(--color-tertiary);
  color: white;
}

nav a:hover {
  background-color: var(--color-tertiary);
  color: white;
}


main {
  background-color: var(--color-secondary-background);
}


.cta-button {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  font-size: 1.5em;
  text-decoration: none;
  padding: 5px 60px;
  border-radius: 5px;
  text-align: center;
}


footer {
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  flex: 1;
}

.footer_content {
  flex: 1;
  margin: 10px 50px;
}

footer a {
  text-decoration: none;
  color: var(--color-tertiary);
}

footer p, a {
  font-weight: 300;
}

input::placeholder {
  color: black;
  opacity: 0.8;
  font-weight: 200;
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
}

/*Home page*/
.home-image {
  width: 100%;
  height: 85vh;
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/headerimg.jpg);
  min-height: 70vh;
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
  color: var(--color-background);
  position: relative;
}

.home-image_text {
  position: absolute;
  top: 180px;
  left: 75px;
}

.home-image h1 {
  font-size: 2em;
  margin: 0;
}

.home-image h2 {
  font-size: 1.6em;
  margin: 0px 0px 25px 0px;
  color: white;
}

.home-image a {
  color: var(--color-tertiary);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.85);
  font-weight: 300;
  font-size: 1.2em;
  padding: 5px 40px;
  border-radius: 6px;
}


.slogan {
  background-color: var(--color-primary);
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  display: flex;
}

.slogan img {
  height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}


.logo {
  max-width: 1000px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.logo_images {
  flex: 1;
  list-style: none;
  display: inline-block;
  text-align: center;

}

.logo_images img {
  height: 50px;
  margin: 5px 10px;

}


/*Inspiration section*/

.inspiration {
  height: 70vh;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.inspiration_content {
  display: flex;
  font-size: 15px;
  flex: 1;
}

.picture_one {
  position: relative;
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/bluesweater.jpg);
  background-size: cover;
  background-position-x: center;
}

.picture_one h2 {
  position: absolute;
  font-size: 30px;
  color: white;
  bottom: 20px;
  left: 15px;
  margin: 0px 150px 0px 0px;
}


.picture_one i {
  position: absolute;
  font-size: 50px;
  color: white;
  bottom: 30px;
  right: 50px;
}

.picture_two {
  position: relative;
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/orangejacket.jpg);
  background-size: cover;
  background-position-y: center;
}

.picture_two h2 {
  position: absolute;
  font-size: 30px;
  color: white;
  top: 20px;
  left: 15px;
  margin: 0px 150px 0px 0px;
}


.picture_two i {
  position: absolute;
  font-size: 50px;
  color: white;
  top: 30px;
  right: 50px;
}

.picture_three {
  position: relative;
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/threepeople_hiking.jpg);
  background-size: cover;
}


.picture_three h2 {
  position: absolute;
  font-size: 30px;
  color: white;
  bottom: 20px;
  left: 15px;
  margin: 0px 150px 0px 0px;
}


.picture_three i {
  position: absolute;
  font-size: 50px;
  color: white;
  bottom: 30px;
  right: 50px;
}


/*List of jackets*/
.jacket_text {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 20px;
  padding-right: 600px;
  gap: 5px;

}

.jacket_text h1 {
  grid-column: -1/1;
  margin: 50px 0px 10px -20px;
  padding-left: 20px;
}

.jacket_text button {
  background-color: white;
  color: var(--color-tertiary);
  padding: 5px 40px;
  border: solid 1px;
  border-color: var(--color-tertiary);
  border-radius: 5px;
  cursor: pointer;
}

.jacket_size .jacket_size_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 1px 1px 3px var(--color-tertiary);
  border-radius: 5px;
}

.jacket_size:hover .jacket_size_content {
  display: block;
}

.jacket_brand .jacket_brand_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 1px 1px 3px var(--color-tertiary);
  border-radius: 5px;
}

.jacket_brand:hover .jacket_brand_content {
  display: block;
}

.jacket_price .jacket_price_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 1px 1px 3px var(--color-tertiary);
  border-radius: 5px;
}

.jacket_price:hover .jacket_price_content {
  display: block;
}


.jacket_text a {
  display: block;
  color: var(--color-tertiary);
  text-decoration: none;
  padding: 5px;
}
.jacket_list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  max-width: 1000px;
  margin: 50px auto;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

.jacket {
  display: grid;
  grid-template-rows: 300px 60px 40px 40px 40px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: white;
  padding: 20px;
}


.jacket img {
  margin: auto;
  width: auto;
  height: 300px;
  object-fit: cover;
  grid-column: -1 / 1;
  
}

.jacket a {
  grid-column: -1/1;
  margin: auto;
}

.jacket h2, 
.jacket p {
  grid-column: 1;
  color: var(--color-tertiary);
}

.jacket h3 {
  font-weight: 300;
  color: var(--color-tertiary);
  margin: 0;
  font-size: 15px;
  grid-column: -1 / 1;
}

.jacket p {
  font-weight: 700;
  font-size: 20px;
}

.jacket i {
  grid-row: 2;
  grid-column: 2;
  font-size: 30px;
  margin-left: 100px;
}

.in_stock {
  grid-row: 5;
  grid-column: 1;
  position: relative;
  display: flex;
}

.in_stock i {
  font-size: 10px;
  color: green;
  margin: 5px 5px 5px 0px;
  position: relative;
  align-content: center;
}

.in_stock p {
  font-size: 10px;
  color: black;
  font-weight: 300;
}



/* Jacket specific page*/
.product_specific {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
}

.product_specific > * {
  flex: 1;
}

.product_specific_details {
  padding: 20px 80px;
  background-color: white;
  margin-left: 50px;
}

.product_specific_details h1 {
  font-weight: 700;
  font-size: 30px;
}


.product_specific_details h2 {
  font-weight: 300;
  font-style: italic;
  color: var(--color-tertiary);
  font-size: 20px;
}

.product_specific_details div {
  font-weight: 300;
  color: var(--color-tertiary);
  font-size: 20px;
  
}

.product_specific_details i {
  font-size: 30px;
  margin: 3px;
}


.product_specific_details_text {
  margin: auto;
  height: 5vh;
  display: flex;
  align-items: center;
}

.product_specific_details_text i {
  margin: 0px 10px 0px 0px;
}

.product_specific_details_price {
  font-weight: 700;
  font-size: 30px;
}

.colorindicator_red {
  color: rgba(230, 0, 0, 1);
}

.colorindicator_blue {
  color: rgba(10, 66, 77, 1);
}

.colorindicator_black {
  color: black;
}
.colorindicator_grey {
  color: rgba(163, 155, 155, 1);
}



.product_image {
  width: 100%;

}

.product_thumbnails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;
}

.cta-button_size {
  display: block;
  margin: 60px auto auto auto;
  color: var(--color-tertiary);
  background-color: transparent;
  font-size: 25px;
  text-decoration: none;
  padding: 8px 100px;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-tertiary);
}

.cta-button_cart {
  display: block;
  margin: 5px auto;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  font-size: 25px;
  text-decoration: none;
  padding: 10px 112px;
  border-radius: 8px;
  border: none;
}

/*Checkout success page*/
.checkout-success {
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/mountaintop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--color-tertiary);
  min-height: 450px;
  position: relative;

}

.checkout-success_content {
  position: relative;
  max-width: 1000px;
  margin: auto;
  top: 30px;
  color: var(--color-tertiary);
  padding: 50px;
  text-align: center;
  background-color: white;
  border-radius: 10px;  
  
}

.checkout-success_content h1 {
  position: relative;
  max-width: 1000px;
  margin: 10px auto;
  text-align: center;
  width: 450px;
  font-weight: 200;
  font-size: 30px;
}


.checkout-success_content h2 {
  position: relative;
  max-width: 1000px;
  margin: 10px auto 20px auto;
  text-align: center;
  width: 450px;
  font-weight: 200;
  font-size: 25px;
}

.checkout-success_content i {
  font-size: 100px;
}


/*Check-out*/
.checkout {
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.32)), url(../../assets/images/snowypeaks.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--color-tertiary);
  position: relative;
  height: fit-content;
}

.checkout h1 {
  max-width: 1000px;
  font-size: 30px;
  color: white;
  margin: 0 auto;
  position: relative;
  top: 30px;

}

.checkout_content {
  position: relative;
  background-color: white;
  margin: auto;
  margin-bottom: 100px;
  max-width: 1000px;
  display: grid;
  top: 50px;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 5fr 1fr 1fr;
	min-height: fit-content;
}


.content_1 img {
  height: 300px;
  margin: 20px;

}


.content_2 div {
  margin: 60px 0px;

}

.content_2 h3 {
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    margin: -10px 0px;
}

.content_3 {
  position: relative;
}

.content_3 i {
  font-size: 30px;
  flex: 1;
  float: right;
  margin: 20px;
}

.content_3 p {
  font-size: 25px;
  float: right;
  font-weight: 700;
  margin: 300px -45px 20px 0px;
}

.content_4 {
  grid-column: -1/1;
  margin: 0px 20px;
  display: flex;
  border-top: solid;
  border-bottom: solid;
  border-color: var(--color-primary);
}

.content_4 p {
  text-decoration: underline;
}

.content_4 i {
  font-size: 20px;
  margin: 15px 10px;
}


.content_5 {
  grid-column: -1/1;
  display: flex;
}

.content_5_total {
  margin: 20px;
  flex: 1;
}

.content_5_price {
  margin: 20px;
  flex: 1;
  text-align: end;
}

.checkout_content h2 {
  color: var(--color-tertiary);
}



.checkout_form {
  position: relative;
  background-color: white;
  margin: auto;
  margin-top: 180px;
  max-width: 1000px;
  display: flex;
  bottom: 80px;
  flex-direction: column;
  min-height: fit-content;

}

.checkout_form h2 {
  color: var(--color-tertiary);
  max-width: 1000px;
  margin: 20px auto;
}

.form_1 {
  max-width: 1000px;
  width: 600px;
  margin: 20px auto;
  display: flex;
  text-align: left;
  flex-direction: column;
}



.form_2 {
  max-width: 1000px;
  width: 600px;
  margin: 20px auto;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.form_2 a {
  margin: 10px 50px 50px 50px;
  
}


.checkout_form input, 
.checkout_form textarea {
  margin: 15px 0px;
  padding: 17px 10px;
  font-size: 16px;
} 

.checkout_form label {
  margin: 0px 0px -10px;
  color: black;
} 


/* About us page*/
.about_us_page {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 333px 333px 333px;
  margin: 50px auto;
  gap: 0px 0px;
}

.about_us_page img {
  object-fit: cover;
  max-width: 100%;
}

.about_us_page p {
  margin: 0px 5px 15px;
  line-height: 20px;
}

.about_us_img h1 {
  position: relative;
  top: -337px;
  right: -405px;
  color: white;
  text-shadow: 0px 0px 15px black;
}

.about_us_text h1 {
  position: relative;
  color: var(--color-tertiary);
  margin: 21px 3px 0px;
}

.our_story_text h1 {
  position: relative;
  color: var(--color-tertiary);
  left: 440px;
  margin: 21px 3px 0px;
}

.our_story_img h1 {
  position: relative;
  color: white;
  text-shadow: 0px 0px 15px black;
  top: -337px;
  right: -5px;
}

.our_goal_text h1 {
  position: relative;
  color: var(--color-tertiary);
  margin: 21px 3px 0px;
}

.our_goal_img h1 {
  position: relative;
  color: white;
  text-shadow: 0px 0px 15px black;
  top: -337px;
  right: -440px;
}


/*Contact us*/
.contact {
  background-color: var(--color-secondary-background);
  max-width: 1000px;
  display: flex;
  margin: 50px auto;
}

.contact img {
  height: 515px;
  max-width: 400px;
  object-fit: cover;
}


.contact_form {
  position: relative;
  background-color: white;
  margin: 0px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  margin-left: 20px;
  width: 600px;
}

.contact_form h1 {
  text-align: left;
  margin-left: 40px;
}


.contact_form form {
  max-width: 1000px;
  width: 500px;
  display: flex;
  text-align: left;
  flex-direction: column;
  margin: auto;
}


.contact input, 
.contact textarea {
  margin: 15px 0px;
  padding: 17px 10px;
} 

.cta-button_contact {
  font-size: 20px;
}

.contact label {
  margin: 0px 0px -10px;
  color: black;
} 

.contact_icons {
  max-width: 1000px;
  display: flex;
  margin: auto;
}

.contact_icons a {
  flex: 1;
  font-size: 40px;
  color: var(--color-tertiary);
  margin: 10px;
}


/*Forms*/

input, textarea {
  border: 0px;
  border-radius: 5px;
  background-color: var(--color-forms);
}

label {
  color: grey;
  font-weight: 300;
}

form h1, h2 {
  color: black;
}

