/* Styles.css used for styles that is reusable*/



/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

@import url("media.css");


body {
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-tertiary);
  background-color: var(--color-secondary-background);
  margin: 0px;
}

header {
  background-color: white;
  border-bottom: solid var(--color-tertiary);
  border-width: 5px;
}


.header_section {
  display: flex;
  max-width: 1000px;
  height: 70px;
  margin: auto;
  align-items: baseline;
}

.header_section a {
  color: var(--color-tertiary);
  margin: 10px;
}

.home_button {
  height: auto;
  width: 80px;
  margin-left: 50px;
}

.hamburger-icon {
  position: relative;
  color: black;
  font-size: var(--larger);
  top: -55px;
  right: -20px;
}

.searchbar {
  width: auto;
  align-items: center;
  display: flex;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--color-forms);
  color: black;
  margin: 0px 20px;
}

.searchbar_input {
  font-size: 14px;
  color: black;
  margin-left: 5px;
  width: 200px;
}

.menu_item_searchbar {
  position: absolute;
  top: 55px;
  width: 100%;
}

.menu_item_person {
  position: absolute;
  right: 75px;
  font-size: var(--large);
  margin: 10px -10px
}

.menu_item_shoppingbag {
  position: absolute;
  right: 40px;
  font-size: var(--large);
  color: var(--color-tertiary);
  margin: 10px -20px;
}

.navbar {
  display: none;
  width: 100%;
}

#menu-hamburger {
  display: none;
}

#menu-hamburger:checked ~ .navbar {
  display: block;
}

nav {
  background-color: var(--color-tertiary);
  display: flex;
  align-items: center;
  font-weight: 300px;
  justify-content: baseline;
}

nav li {
  background-color: none;
  border-radius: none;
  flex: 1;
  text-align: left;
  display: inline-block;
  width: 580px;
  border-bottom: solid;
  border-color: #ffffff2b;
  list-style-type: none;
  margin: 0px 10px;
  padding: 5px;
}

nav ul {
  padding-inline-start: 0px;
}

nav a {
  text-decoration: none;
  color: white;
}

.active_links {
  font-weight: 700;
}

.footer_content a:hover {
  text-decoration: underline;
}

nav li:hover {
  background-color: var(--color-tertiary);
}

.active, 
.active a {
  background-color: var(--color-tertiary);
  color: white;
}

nav a:hover {
  background-color: var(--color-tertiary);
  color: white;
}

main {
  background-color: var(--color-secondary-background);
}

.cta-button {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  font-size: 25px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

footer {
  background-color: var(--color-tertiary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 50px 0px;
}

.footer_content {
  flex: 1;
  margin: 0px 20px;
}

footer h3, 
footer a {
  text-decoration: none;
  font-weight: 300;
  font-size: var(--medium_large);
  color: white;
  border-bottom: solid;
  margin-bottom: 5px;
}

input::placeholder {
  color: black;
  opacity: 0.8;
  font-weight: 200;
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
}


/*Forms*/
input, textarea {
  border: 0px;
  border-radius: 5px;
  background-color: var(--color-forms);
}

label {
  color: grey;
  font-weight: 300;
}

form h1, h2 {
  color: black;
}
