/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: rgba(140, 185, 193, 1);
  --color-secondary: rgba(132, 199, 182, 1);
  --color-tertiary: rgba(0, 55, 66, 1);
  --color-background: #ffff;
  --color-secondary-background: rgba(242, 245, 246, 1);
  --color-forms: rgba(231, 225, 225, 1)
}

:root {
  --small: 12px;
  --small_medium: 15px;
  --medium: 17px;
  --medium_large: 20px;
  --large: 25px;
  --larger: 30px;
}
